<html>
<head>
<title>{{.Title}}</title>
</head>
<body>
 <h1>{{.Title}}</h1>
 <p>
 {{.Content}}
 </p>
 <div>{{.Date}}</div>
 <div id="comments">
     <div>
         <h2>Comments</h2>
     </div>
    <form onsubmit="postComment()">
        <input type="hidden" name="guide" id="guide" value="{{.GUIDE}}" />
        <div>
                <input type="hidden" name="page_id" id="page_id" value="{{.ID}}" />

        </div>
        
        <div>
            <input type="text" name="name" id="name" placeholder="Your name">
        </div>
        <div>
            <input type="text" name="email" id="email" placeholder="Your email">
        </div>
        <div>
            <input type="text" name="comment" id="comment" placeholder="Comment">
        </div>
        <div>
            <input type="submit" value="Add comment">
        </div>
    </form>

    <div>
        {{range .Comments}}
        <div>
            <div>
                Comment by {{.Name}} ({{.Email}})
            </div>
            <div>
                {{.Comment}}
            </div>
        </div>
        {{end}}
    </div>
    
 </div>
</body>
<script>
    function postComment() {

  
    var name= document.getElementById('name').value;
    var email = document.getElementById("email").value;
    var comment = document.getElementById("comment").value;
    var page_id = document.getElementById("page_id").value;
    var guide = document.getElementById("guide").value;
    var http = new XMLHttpRequest();
    var url = '/api/comments';

    var params ={
        'name': name,
        'email': email,
        'comment': comment,
        'page_id': page_id,
        'guide': guide
    }

    http.open('POST', url);

    //Send the proper header information along with the request
    http.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');

    http.onreadystatechange = function() {//Call a function when the state changes.
    if(http.readyState == 4 && http.status == 200) 
    {
        alert(params.comment.value);
    }
    }
    http.send(params);
        
}
   </script>
</html>